{% extends "dojo/layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>dojo 작성 폼</h2>

<form action="" method="POST">
    {% csrf_token %}

    <!-- non_field_error를 별도로 찍어줌 -->
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
        {{ error }}
        </div>
    {% endfor %}

    <!-- hidden fields는 위젯만 렌더. 필드명이 위젯임 -->
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    
    <!-- visiblen fields는 모든 요소 렌더 -->
    {% for field in form.visible_fields  %}
        <div class="form-group">
            {{ field.label_tag }}
            <div class="col-sm-10">
                {{ field }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                <!-- 각 필드의 에러는 필드에 근접하게 찍어줌 -->
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <input type="submit" class="btn btn-primary" />

</form>        

        </div>
    </div>
</div>

<script>
/* 자바스크립트로 css 적용 */
$(function() {
    $('.form-group label').addClass('col-sm-2');
    $('.form-group input, .form-group textarea').addClass('form-control');
})
    
/* 자바스크립트로 user_agent 필드값 채워넣기 */
    var dom = document.getElementById('{{ form.user_agent.id_for_label }}');
    dom.value = navigator.userAgent; 
</script>

{% endblock %}

